h1{
    background-color: cyan;

}
h2{
    background-color:rgb(81, 255, 0);
}

.nombre::before, .nombre::after{
    content: "✨";
}

a {
color: blue;
}

a:hover{
    color: red;

}

#leng {
border: 2px solid black;
}

#proj > li {
font-weight: bold;
}

#leng li:first-child {
background-color: yellow;
}

#leng li:last-child {
background-color: orange;
}
